# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables and secrets
.env

# Local editor settings
.vscode/

# Raw and intermediate data
data/raw/*
data/interim/*
data/processed/*

# Keep folder placeholders
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep